{% extends 'base.html' %}
{% block body %}
<p><a href="https://viet-dynamic-programming.herokuapp.com/"><img src="/static/image/footer-logo.png" alt="logo" width=160 length=64 ></a></p>
<div class="modal-content animate">
   <div class="container">
    <script src="https://static.mul-pay.jp/ext/js/token.js"></script>
    <script type="text/javascript">
        Multipayment.init('9200002704338');
        Multipayment.getToken(
            {
                cardno: '5355220955881176',
                expire: '202707',
                securitycode:'437',
                holdername:'Viet Phan',
                tokennumber: '1'
            },
      (response) => {
          console.log("response = ", response);
          console.log(response.tokenObject.token[0]);
      }
        );
    </script>
   </div>
</div>
{% endblock %}
