
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>Iterative Method</title>
        <script type="text/javascript" nonce="1f6f379e1ae5444d913095490c8" src="//local.adguard.org?ts=1668607331678&amp;type=content-script&amp;dmn=viet-iterative-methods.herokuapp.com&amp;pth=%2F&amp;app=com.google.Chrome&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
<script type="text/javascript" nonce="1f6f379e1ae5444d913095490c8" src="//local.adguard.org?ts=1668607331678&amp;name=AdGuard%20Extra%20%28Beta%29&amp;type=user-script"></script><link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    </head>
    <body>
        
<p><a href="https://viet-iterative-methods.herokuapp.com/"><img src="/static/image/footer-logo.png" alt="logo" width=160 length=64 ></a></p>
<div class="modal-content animate">
   <div class="container">
      <h2 style="text-align:center">Itertative method calculator</h2>
      <br>
      <form action="/search" method="post">
         <div style="text-align:center">
           <label for="capacitor">Please enter capacitance (e.g 1500 or 0.00025): </label>
           <input type="text" name="capacitor" required><br>
           <label for="voltage">Please enter voltage (e.g 1500 or 0.00025): </label>
           <input type="text" name="voltage" required><br>
           <label for="resistance">Please enter resistance (e.g 1500 or 0.00025): </label>
           <input type="text" name="resistance" required><br>
           <label for="timeInterval">Please enter time interval (e.g 1 or 0.25): </label>
           <input type="text" name="timeInterval" required><br>
           <label for="numberLoop">How many times you want to iterate? (e.g 5 or 20) </label>
           <input type="text" name="numberLoop" required><br>
           <br>
           <button type="submit" style="text-align:center">Enter</button>
         </div>
      </form>
   </div>
</div>

    </body> 
</html>
